.centered { vertical-align:middle; text-align:center; }
.centered img { display:block; margin:0 auto; }

@media print {
    .reportsButton {
      display: none;
    }
    .fontSize{
      font-size: small;
    }
  }

  tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}
.modal-dialog{
  margin: -15vh auto 0px auto;
}